version: '3.8'
services:
  lizmap:
    image: 3liz/lizmap-web-client:${LIZMAP_VERSION_TAG}
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: lizmap
    environment:
      LIZMAP_CACHEREDISDB: '0'
      LIZMAP_CACHEREDISHOST: 'redis'
      LIZMAP_CACHESTORAGETYPE: redis
      LIZMAP_CACHEEXPIRATION: '0'
      LIZMAP_CACHEREDISKEYPREFIX: 'lizmap_'
      LIZMAP_HOME: /srv/lizmap
      LIZMAP_USER: ${LIZMAP_UID}
      LIZMAP_WMSSERVERURL: http://map:8080/ows/
      LIZMAP_CONFIG_INCLUDE: /srv/etc
      PGSERVICEFILE: /srv/etc/pg_service.conf
      PGPASSFILE: /srv/etc/pgpass.conf
      PM_MAX_CHILDREN: '400'
      PM_START_SERVERS: '8'
      PM_MIN_SPARE_SERVERS: '8'
      PM_MAX_SPARE_SERVERS: '64'
      PM_CHILD_PROCESS: 'dynamic'
      PM_MAX_REQUESTS: '0'
      PM_PROCESS_IDLE_TIMEOUT: '10'
    volumes:
      - ${LIZMAP_PROJECTS}:/srv/projects
      - ${LIZMAP_DIR}/var/lizmap-theme-config:/www/lizmap/var/lizmap-theme-config
      - ${LIZMAP_DIR}/var/lizmap-config:/www/lizmap/var/config
      - ${LIZMAP_DIR}/var/lizmap-db:/www/lizmap/var/db
      - ${LIZMAP_DIR}/www:/www/lizmap/www
      - ${LIZMAP_DIR}/www/var/log:/www/lizmap/var/log
      - ${LIZMAP_DIR}/var/lizmap-modules:/www/lizmap/lizmap-modules
      - ${LIZMAP_DIR}/var/lizmap-my-packages:/www/lizmap/my-packages
      - ${LIZMAP_DIR}/etc:/srv/etc:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ${LIZMAP_DIR}/etc/php_customconfig.ini:/etc/php7/conf.d/php_customconfig.ini
      - ${LIZMAP_DIR}/../../lizmap-altiProfil/altiProfil:/www/lizmap/lizmap-modules/altiProfil
      - ${LIZMAP_DIR}/../../lizmap-altiProfil/altiProfilAdmin:/www/lizmap/lizmap-modules/altiProfilAdmin
      - ${LIZMAP_DIR}/../../lizmap-pgmetadata-module/pgmetadata:/www/lizmap/lizmap-modules/pgmetadata
      - ${LIZMAP_DIR}/../../lizmap-pgmetadata-module/pgmetadataAdmin:/www/lizmap/lizmap-modules/pgmetadataAdmin
    command:
      - php-fpm
#    depends_on:
#      postgis:
#        condition: service_healthy
    restart: unless-stopped
  map:
    image: 3liz/qgis-map-server:${QGIS_VERSION_TAG}
    labels: 
      - com.centurylinklabs.watchtower.enable=true
#      - com.centurylinklabs.watchtower.lifecycle.post-update=/srv/projects/install-lizmap-plugin.sh
    container_name: map
    command: qgisserver -c /srv/etc/py-qgis-server.conf
    environment:
      QGSRV_CACHE_SIZE: '50'
      QGSRV_CACHE_ROOTDIR: /srv/projects
      QGSRV_USER: ${LIZMAP_UID}:${LIZMAP_GID}
      QGSRV_LOGGING_LEVEL: INFO
      QGSRV_SERVER_WORKERS: ${QGIS_MAP_WORKERS}
      QGSRV_SERVER_PLUGINPATH: /srv/plugins
      QGSRV_CACHE_PRELOAD_CONFIG: /srv/projects/projects.conf
      QGSRV_SERVER_RESTARTMON: /srv/qgis-restart.txt
      PGSERVICEFILE: /srv/etc/pg_service.conf
      PGSPASSFILE: /srv/etc/pgpass.conf
      QGIS_OPTIONS_PATH: /srv/etc/qgis
      QGSRV_CACHE_CHECK_INTERVAL: '60'
      QGSRV_DISABLE_GETPRINT: '1'
      QGSRV_API_ENABLED_LANDING_PAGE: '1'
      QGSRV_TRUST_LAYER_METADATA: '1'
      QGIS_SERVER_PARALLEL_RENDERING: '1'
      QGIS_SERVER_LIZMAP_REVEAL_SETTINGS: '1'
      QGIS_PLUGIN_MANAGER_SOURCES_FILE: /tmp/sources.list
      QGIS_PLUGIN_MANAGER_CACHE_DIR: /srv/plugins
    volumes:
      - ${LIZMAP_PROJECTS}:/srv/projects
#      - ${LIZMAP_DIR}/plugins:/srv/plugins
      - ${LIZMAP_DIR}/etc:/srv/etc:ro
      - ${LIZMAP_DIR}/wps-data:/srv/data
      - ${LIZMAP_PROJECTS}/qgis-restart.txt:/srv/qgis-restart.txt
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - ${OWS_PORT}:8080
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    labels: 
      - com.centurylinklabs.watchtower.enable=true
    container_name: redis
    ports:
      - 6379:6379
    volumes:
     - redis_data:/data
     - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
  web:
    image: nginx:alpine
    labels: 
      - com.centurylinklabs.watchtower.enable=true
    container_name: web
#    user: ${LIZMAP_UID}:${LIZMAP_UID}
    volumes:
      - ${LIZMAP_DIR}/etc/nginx.conf:/etc/nginx/nginx.conf
#      - ${LIZMAP_DIR}/var/log/nginx:/var/log/nginx
#      - ${LIZMAP_DIR}/var/nginx-cache:/var/cache/nginx
      - ${LIZMAP_DIR}:/srv/lizmap
      - ${LIZMAP_DIR}/etc/self-signed.conf:/etc/nginx/self-signed.conf
      - ${LIZMAP_DIR}/etc/ssl-params.conf:/etc/nginx/ssl-params.conf
      - ${LIZMAP_DIR}/etc/nginx-selfsigned.crt:/etc/nginx/nginx-selfsigned.crt
      - ${LIZMAP_DIR}/etc/nginx-selfsigned.key:/etc/nginx/nginx-selfsigned.key
      - ${LIZMAP_DIR}/etc/dhparam.pem:/etc/nginx/dhparam.pem
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - ${LIZMAP_PORT}:8080
      - ${LIZMAP_HTTPS_PORT}:443
    depends_on:
      - lizmap
    restart: unless-stopped
#  postgis:
#    image: 3liz/postgis:${POSTGIS_VERSION}
#    labels:
#      - com.centurylinklabs.watchtower.enable=true
#    container_name: postgis
#    volumes:
#      - postgis_data:/var/lib/postgresql/data
#      - ${LIZMAP_DIR}/etc/postgres.init.d:/docker-entrypoint-initdb.d
#    environment:
#      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#      POSTGRES_LIZMAP_DB: ${POSTGRES_LIZMAP_DB}
#      POSTGRES_LIZMAP_USER: ${POSTGRES_LIZMAP_USER}
#      POSTGRES_LIZMAP_PASSWORD: ${POSTGRES_LIZMAP_PASSWORD}
#    ports:
#      - ${POSTGIS_PORT}:5432
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U postgres -d ${POSTGRES_LIZMAP_DB} -q || exit 1"]
#      interval: 10s
#      timeout: 5s
#      start_period: 60s
#    networks:
#      default:
#       aliases:
#          - ${POSTGIS_ALIAS}
#    restart: unless-stopped
  postfix:
    image: juanluisbaptiste/postfix:latest
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: mail
    environment:
      SMTP_SERVER: '192.168.2.8'
      SMTP_PORT : 27
      SMTP_USERNAME_FILE: /secret/mail_username.conf
      SMTP_PASSWORD_FILE: /secret/mail_password.conf
      SERVER_HOSTNAME: 'snfr.md'
      SMTP_NETWORKS: '192.168.2.0/24'
      OVERWRITE_FROM: 'lizmap@snfr.md'
      DEBUG: 'yes'
    restart: unless-stopped
    volumes:
     - /etc/localtime:/etc/localtime:ro
     - /etc/timezone:/etc/timezone:ro
     - ${LIZMAP_DIR}/instances/mail_username.conf:/secret/mail_username.conf
     - ${LIZMAP_DIR}/instances/mail_password.conf:/secret/mail_password.conf
  qgis-wps:
    image: 3liz/qgis-wps:ltr-rc
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: wps
    environment:
      QGSWPS_SERVER_WORKDIR: /srv/data
      QGSWPS_SERVER_PARALLELPROCESSES: '2'
      QGSWPS_SERVER_LOGSTORAGE: redis
      QGSWPS_REDIS_HOST: 'redis'
      QGSWPS_LOGLEVEL: DEBUG
      QGSWPS_SERVER_WMS_SERVICE_URL:
      QGSWPS_PROCESSING_PROVIDERS: provider1,provider2
      QGSWPS_PROCESSING_PROVIDERS_MODULE_PATH: /processing
      QGSWPS_CACHE_ROOTDIR: /projects
      QGSWPS_USER: ${LIZMAP_UID}:${LIZMAP_GID}
    volumes:
      - ${LIZMAP_PROJECTS}/processing:/processing
      - ${LIZMAP_PROJECTS}:/projects
      - ${LIZMAP_DIR}/wps-data:/srv/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped
  watchtower:
    image: containrrr/watchtower
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: watchtower
    environment:
      WATCHTOWER_INCLUDE_STOPPED: 1
      WATCHTOWER_CLEANUP: 1
      WATCHTOWER_LABEL_ENABLE: 1
      WATCHTOWER_LIFECYCLE_HOOKS: 1
      WATCHTOWER_SCHEDULE: 0 0 6 * * *
      WATCHTOWER_DEBUG: 1
    restart: unless-stopped
    volumes:
     - /var/run/docker.sock:/var/run/docker.sock
     - /etc/localtime:/etc/localtime:ro

volumes:
    postgis_data:
       driver: local
    redis_data:
       driver: local

networks:
  default:
    external: true
    name: qgis-server
